<!-- Details of cards  -->

<h1 class="title mt-5 mb-5">Welcome to Weather App</h1>
<hr />
<div class="rows d-flex">

  <div class="features col-6 " *ngFor="let ruta of rutas" [routerLink]="ruta.path" >
    <div class="feature mt-3 mb-3">
      <h3>{{ ruta.name }}</h3>

      <div class="paragraph mb-2">
        {{ ruta.description }}
      </div>

      <a [routerLink]="ruta.path"> Go to temperature forecast Chart</a>
    </div>
  </div>
</div>
